#PostContainer {
    border: 1px black solid;
    border-radius: 25px;
    padding: 10px 20px;
    background: #FFF4F3;
    display: flex
}

.post__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--padding-g);
    padding: var(--padding-l);
}

label {
    font-size: var(--small-font);
}

.title-input {
    width: 100%;
    padding: var(--padding-g);
    border-radius: 10px;
    font-size: var(--medium-font);
}

.text-input {
    max-width: 100%;
    min-width: 100%;
    height: 150px;
    padding: var(--padding-g);
    border-radius: 10px;
    font-size: var(--medium-font);

}

#file-upload {
    font-size: var(--small-font);
}

.post__form__upload {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.publish-button {
    border-radius: 10px;
    padding: var(--padding-l);
    background-color: var(--secondary);
    font-size: var(--medium-font);
    padding-right: var(--padding-g);
}

#file-upload {
    border-radius: 10px;
    padding: var(--padding-l);
    background-color: var(--secondary);
}