.container-center {
    display: flex;
    width: 100%;
}

#ToolBar {
    width: 20%;
    border: 1px green solid;
    margin-right: var(--margin-g);
}

main {
    width: 80%;
}

/* Lien de nav */
nav a {
    font-size: var(--small-font);
}